In [ ]:
print("Choice Operation")
print("1.Add\n 2.Subtract\n 3.Multiply\n 4.Divide\n 5.Mod\n 6.Floor")

n1=int(input("Enter the first value:"))
n2=int(input("Enter the second value:"))

choice=int(input("Enter the choice"))

In [ ]:
# Data structures concepts

# List
# Tuple
# Dictionary
# Sets

In [ ]:
# List 
# List is a colection of hetrogeneous data elements
# List is mutable
# List representation []
# List supports slicing-->:

#syntax

#variablename=[]

In [1]:
l1=[1,2,3,'hi','hello',10.25]
l1

[1, 2, 3, 'hi', 'hello', 10.25]

In [6]:
l2=[4,5,6,'hru']
l1+l2
l3=l1+l2
print(l3)

[1, 2, 3, 'hi', 'hello', 10.25, 4, 5, 6, 'hru']

In [11]:
# forward index
l3[3]
l3[6]

# backward index 
l3[-4]
l3[-1]

# List Slicing 
l3[3:5]

l3[::-1]

l3[0:11:2]

[1, 3, 'hello', 4, 6]

In [15]:
# List Methods
dir(list)

# Append
l3.append([11,12])
l3

l3.extend([13,14,15])
l3

[1,
 2,
 3,
 'hi',
 'hello',
 10.25,
 4,
 5,
 6,
 'hru',
 10,
 [11, 12],
 [11, 12],
 13,
 14,
 15]

In [17]:
l3[11][0]

11

In [18]:
l3.count(1)

1

In [19]:
l3.index(10)

10

In [23]:
# insert 
s=['a','o']

s.insert(1,'e')
s.insert(2,'i')
s.insert(4,'u')
s

['a', 'e', 'i', 'o', 'u']

In [ ]:
# Difference b/w pop,remove,del
#pop()--->last in first out
#remove()--->value
#del--->index value based

In [24]:
l3.pop()

15

In [27]:
l3.remove('hi')
l3

[1, 2, 3, 'hello', 10.25, 4, 5, 6, 'hru', 10, [11, 12], [11, 12], 13, 14]

In [29]:
del l3[11]

In [31]:
# sort
l4=[4,7,8,1,4,9,1]
l4.sort()
l4

[1, 1, 4, 4, 7, 8, 9]

In [33]:
# Reverse
l4.sort(reverse=False)
l4.sort(reverse=False)
l4

[1, 1, 4, 4, 7, 8, 9]

In [34]:
# copy 1. =, 2. copy method
l5=l3
l5
l3

[1, 2, 3, 'hello', 10.25, 4, 5, 6, 'hru', 10, [11, 12], 14]

In [35]:
l6=l3.copy()
l6

[1, 2, 3, 'hello', 10.25, 4, 5, 6, 'hru', 10, [11, 12], 14]

In [36]:
l3.append(l4)
l3

[1,
 2,
 3,
 'hello',
 10.25,
 4,
 5,
 6,
 'hru',
 10,
 [11, 12],
 14,
 [1, 1, 4, 4, 7, 8, 9]]

In [37]:
l5

[1,
 2,
 3,
 'hello',
 10.25,
 4,
 5,
 6,
 'hru',
 10,
 [11, 12],
 14,
 [1, 1, 4, 4, 7, 8, 9]]

In [38]:
l5

[1,
 2,
 3,
 'hello',
 10.25,
 4,
 5,
 6,
 'hru',
 10,
 [11, 12],
 14,
 [1, 1, 4, 4, 7, 8, 9]]

In [39]:
l4

[1, 1, 4, 4, 7, 8, 9]

In [40]:
l4[1]=2
l4

[1, 2, 4, 4, 7, 8, 9]

In [41]:
l4[2]=3
l4

[1, 2, 3, 4, 7, 8, 9]

In [ ]:
# Tuples

# tuples is a collection of hetrogeneous data elements
# tuple is immutable
# tuple representation ()
# tuplees supports slicing-->:

# Syntax
# variable=()

In [44]:
tup=(1,2,'welcome','workshop',45.25,4,6)
#type(tup)
tup

(1, 2, 'welcome', 'workshop', 45.25, 4, 6)

In [46]:
tup[2]
tup[5]
tup[-2]
tup[-5]

tup[0:]
tup[:]
tup[::-1]

(6, 4, 45.25, 'workshop', 'welcome', 2, 1)

In [47]:
# tuple methods
dir(tup)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [49]:
# packing & unpacking
emp=('A0645','abc','developer','Apssdc','narasaraopet')
(eid,name,disg,comp,place)=emp

print(eid)
print(comp)

A0645
Apssdc

In [ ]:
# Dictionary 
# Dictionary is a unordered collection of different data items
# In dictionary we have 2 pairs ,those are key & value
# key is fixed
# value be change
# dictionary representation--->{}

# syntax

# varname={key:value}

In [50]:
address={'name':'sai','place':'narasaraopet'}
address

{'name': 'sai', 'place': 'narasaraopet'}

In [51]:
address['pincode']=522601
address

{'name': 'sai', 'place': 'narasaraopet', 'pincode': 522601}

In [52]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [53]:
address.keys()

dict_keys(['name', 'place', 'pincode'])

In [54]:
address.values()

dict_values(['sai', 'narasaraopet', 522601])

In [55]:
address.items()

dict_items([('name', 'sai'), ('place', 'narasaraopet'), ('pincode', 522601)])

In [56]:
address.get('name')

'sai'

In [57]:
address.popitem()

('pincode', 522601)

In [58]:
address

{'name': 'sai', 'place': 'narasaraopet'}

In [59]:
address.pop('place')

'narasaraopet'

In [60]:
address

{'name': 'sai'}

In [61]:
address2={'place':'Ongole','pincode':522601,'street':'xyz'}
address2

{'place': 'Ongole', 'pincode': 522601, 'street': 'xyz'}

In [63]:
address.update(address2)

In [64]:
address

{'name': 'sai', 'place': 'Ongole', 'pincode': 522601, 'street': 'xyz'}

In [66]:
address['name']='sairam'
address

{'name': 'sairam', 'place': 'Ongole', 'pincode': 522601, 'street': 'xyz'}

In [68]:
adress3=dict.fromkeys(address,'fields')
address

{'name': 'sairam', 'place': 'Ongole', 'pincode': 522601, 'street': 'xyz'}

In [70]:
# set

# syntax
# var={1,2,3,}

In [71]:
a={1,2,3,5,3,6,8,7,5,9}
a

{1, 2, 3, 5, 6, 7, 8, 9}

In [72]:
b={10,54,54,546,654}
b

{10, 54, 546, 654}

In [73]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [74]:
a.union(b)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 54, 546, 654}

In [75]:
a.intersection(b)

set()

In [77]:
a.difference(b)
b.difference(a)

{10, 54, 546, 654}

In [78]:
a.add(9)
a

{1, 2, 3, 5, 6, 7, 8, 9}

In [79]:
a.discard(11)
a

{1, 2, 3, 5, 6, 7, 8, 9}

In [80]:
a.pop()
a

{2, 3, 5, 6, 7, 8, 9}

In [89]:
# List comprehensions
# written single of code

for temp in range(0,10):
    print(temp)
d=[i for i in range(0,10)]
d
list(i for i in range(0,20+1))

list(i for i in range(0,50+1) if(i%2==0))

0
1
2
3
4
5
6
7
8
9

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [ ]:
# Regular Expression

# Packages & Modules

In [ ]:
# Regular Expressions

# Regular expression is nothing patterns

# in regular expression we can impliment
# password,email,phone number validations

#\d-->matches digits
#\D-->except digits


#\W-->special symbols

#\w-->except special symbol

# we will use regular expression we can import re module

# methods are search,findall,match

# syntax regular expressions

# modulename.methodname(pattern,value or variablename)

In [101]:
import re

dir(re)

re.search('^k','knowledge&nonviolance')

re.search('$e','knowledge&nonviolance')

re.search('.','knowledge&nonviolance')

re.search('.......','knowledge&nonviolance')

re.search('\s','knowledge & nonviolance')

re.findall('\s','knowledge & nonviolance')

re.findall('\S','knowledge & nonviolance')

re.findall('\d','12ma1a0588')

re.findall('\D','12ma1a0588')

re.findall('\W','rama.p@apssdc.in')

re.findall('\w','123rama-p@apssdc.in')

# MObileno

re.serach('^[0-9]{9}$| ^[0][0-9]{9}$| [+][9][1][0-9]{9}$','9951304888')

AttributeError: module 're' has no attribute 'serach'